:root {
    --text: #ffffff;
    --cards: rgba(255, 255, 255, 0.03);
    --background: #030C11;
    --primary: #8fb3ff;
    --secondary: #001952;
    --accent: #f199bf;
}


body {
    font-family: 'Arial', sans-serif;
    background-color: var(--background);
    color: var(--text);

}


header {
    margin: 1vw 0;
    padding: 0.7rem;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 3.2rem;
    font-weight: bold;
    animation: fadeInDown 1s ease-out forwards;
}

header p {
    color: var(--primary);
}



main {
    margin-top: 5rem;
    margin-left: clamp(0%, 12.5%, 25%);
    margin-right: clamp(0%, 12.5%, 25%);
    margin-bottom: 0;
    display: grid;
    align-items: center;
    justify-content: center;
}

#main-home {
    gap: 3rem;
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}


footer {
    color: #ffffff;
    text-align: center;
    margin-top: 2rem;
    padding: 1rem;
    background-color: #061923;
}


header button:hover {
    transform: scale(1.02);

}

h4 {
    text-align: center;
}

fieldset {
    border: none;
    margin: 0 2% 1vw 0;
}

.slider {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}