body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(145deg, #004f59, #1e293b, #0b3d91);
    color: #ffffff;
    line-height: 2;
    margin: 0;
    padding: 0;

}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 50vh;
    padding: 1vw;
}

header {
    border-radius: 8px;
    margin: 1vw 0;
    padding: 10px;
    text-align: center;
}

header h1 {
    color: #ffffff;
    margin: 0;
    font-size: 3.2em;
    font-weight: bold;
    animation: fadeInDown 1s ease-out forwards;
}

header p {
    font-size: medium;
    color: #B0D0FF;
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}


footer {
    background: rgba(46, 61, 80, 0.4);
    color: #ffffff;
    text-align: center;
    padding: 30px 0;
    width: 100%;
    bottom: 0;
}


header button:hover {
    transform: scale(1.02);

}


h4 {
    text-align: center;
}

fieldset {
    border: none;
    margin: 0 2% 1vw 0;
}

.slider {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}


output-card {
    display: block;
}