form {
    display: grid;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 5%;
    padding: 1vw 1vw;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

label {
    position: relative;
    display: inline-block;
    margin: auto 2vw;
    width: 8vw;
    grid-column: 1;

}

input {
    grid-column: 2;
    max-height: 0.5vw;
    min-width: 5vw;
    max-width: 10vw;
    padding: 0.5vw;
    margin: 0.25vw 1vw;
    border: 1px solid rgba(255, 255, 255, 0.5);
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
    border-radius: 1vw;
    transition: background 0.3s, transform 0.3s;
}

input:focus {
    background: rgba(255, 255, 255, 0.2);
    transform: scale(1.02);
    outline: none;
}

button {
    background-color: rgba(69, 178, 233, 0.8);
    color: white;
    border: none;
    border-radius: 10%;
    padding: 0.5vw;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    margin: 2vw auto auto auto;
}

button:hover {
    background-color: rgba(69, 178, 233, 1);
    transform: scale(1.02);
}

.toggle-password {
    color: rgba(0, 0, 0, 0.8);
    font-size: 1.5vw;
    position: absolute;
    right: 1.4vw;
    top: 48%;
    transform: translateY(-50%);
    cursor: pointer;
    background: transparent;
    border: none;
}

.toggle-password:hover {
    color: rgba(69, 178, 233, 1);
}

.form-group {
    display: flex;
    position: relative;
}


#error-message {
    color: rgb(255, 111, 0);
    text-align: center;
}

.invalid-input {
    border: 2px solid red;
}

.invalid-feedback {
    color: red;
    font-size: 12px;
    padding-top: 2px;
}