.card {
    background-color: var(--cards);
    display: flex;
    border-radius: 1rem;
    text-align: center;

}

.card:hover {
    transform: scale(1.02);
}

.text-content {
    flex: 1;
    margin: 0 2rem 2rem 2rem;
}

.card-title {
    font-size: 1.5rem;
}

.card img {
    width: 3rem;
    margin: 1rem;
    filter: brightness(0) invert(1);
}

.reverse {
    flex-direction: row-reverse;
}