header section {
    display: flex;
    justify-content: center;
}



#login-button,
#register-button {
    color: white;
    border: none;
    border-radius: 10%;
    padding: 1rem;
    margin: 0 1rem;
    min-width: 2rem;
}

#login-button {
    background-color: var(--primary);
}

#register-button {
    background-color: var(--secondary);
}

#main-home {
    display: grid;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

@media (min-width: 800px) {

    #main-home {
        display: grid;
        grid-template-areas:
            "card1 card1"
            "card2 card3"
            "card4 card5";
    }

    app-card:nth-child(1) {
        grid-area: card1;
    }

    app-card:nth-child(2) {
        grid-area: card2;
    }

    app-card:nth-child(3) {
        grid-area: card3;
    }

    app-card:nth-child(4) {
        grid-area: card4;
    }

    app-card:nth-child(5) {
        grid-area: card5;
    }
}